.board-title {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: #795548;
}


.member-list {
    list-style: none;
    padding-left: 0;
    height: 40px;
}

.member-list span {
    border: 1px solid #9E9E9E;
    padding: 5px;
    display: flex;
    align-items: center;
}

.member-list .row {
    margin: 0;
    display: flex;
}

.avatar {
    height: 40px;
}

.name span{
  border: 0;
}

.recent, .all-time{
  cursor: pointer;
}

a {
    display: flex;
}
